@mixin absolutePosition($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Parisienne", cursive;
}

//******************
// hero
//******************

.hero {
  width: 100%;
  height: 100vh;

  .particle {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #133a3b, #10303a);
    // background-image: linear-gradient(45deg, #3b2d2e, #3f3649, #343049);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.9;
    // z-index: 2;
  }

  .headline {
    @include absolutePosition(50%, 50%);
    transform: translate(-50%, -50%);
    z-index: 5;
    a {
      font-size: 1.3rem;
      color: white;
      padding: 20px;
      cursor: pointer;
      text-decoration: none;
      border: 1px solid white;
    }
  }
  .arrow {
    width: 20px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    @include absolutePosition(92%, 50%);
    transform: translateX(-50%);

    .circle {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin: 8px 0 0 4px;
      background-color: white;
      transform: translateY(0);
      transition: all 0.8s linear;
    }
    .move {
      transform: translateY(20px);
    }
  }
}

//******************
// pixi
//******************

.pixi_main {
  @include absolutePosition(0, 0);
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .pixi_container {
    width: 57%;
    height: 100%;
    z-index: -1;
  }
}
